@model IEnumerable<GuzelRandevu.Models.GuzellikMerkezi>

@{
    ViewData["Title"] = "Güzellik Merkezleri";
}

<h5>Güzellik Merkezleri</h5>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-controller="AdminPaneli" asp-action="MerkezCreate">Yeni Merkez Ekle</a>
    </p>
}
    <div class="card-columns">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-img">
                    <img id="resim" src="@Html.DisplayFor(modelItem => item.merkezResim)" />
                </div>
                <div class="card-body" style="text-align: center;">
                    @if (User.IsInRole("Müşteri"))
                    {
                        <a asp-action="Details" asp-route-id="@item.merkezId" id="link"><h5 class="card-title">@Html.DisplayFor(modelItem => item.merkezAdi)</h5></a>
                    }
                    else
                    {
                        <a id="link" class="linki" asp-controller="AdminPaneli" asp-action="MerkezDetails" asp-route-id="@item.merkezId"><h5 class="card-title">@Html.DisplayFor(modelItem => item.merkezAdi)</h5></a>
                    }
                </div>
            </div>
        }
    </div>

