@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["Güzellik Merkezlerinin Detaylarını Gör"];
    ViewData["Title2"] = _localizer["Güzellik Merkezi Adı"];
    ViewData["Title3"] = _localizer["Adresi"];
    ViewData["Title4"] = _localizer["Email Adresi"];
    ViewData["Title6"] = _localizer["Düzenle"];
    ViewData["Title7"] = _localizer["Randevu Al"];
    ViewData["Title8"] = _localizer["Güzellik Merkezlerine Geri Dön"];
}
@model GuzelRandevu.Models.GuzellikMerkezi


<h5>@ViewData["Title"]</h5>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.merkezResim)" />
        </dd>
        <dt class="col-sm-2">
            @ViewData["Title2"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.merkezAdi)
        </dd>
        <dt class="col-sm-2">
            @ViewData["Title3"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.merkezAdresi)
        </dd>
        <dt class="col-sm-2">
            @ViewData["Title4"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.merkezEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="MerkezEdit" asp-route-id="@Model.merkezId">@ViewData["Title6"] |</a>

    <a asp-action="RandevuCreate" asp-route-id="@Model.merkezId">@ViewData["Title7"] |</a>
    <a asp-action="MerkezIndex">@ViewData["Title8"]</a>
</div>
