@model GuzelRandevu.Models.Randevu

@{
    ViewData["Title"] = "Randevu Sil";
}

<h5>Randevu Sil</h5>

<h3></h3>
<div>
    <h4>Randevu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Müşteri Adı Soyadı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.uye.uyeAdi) @Html.DisplayFor(model => model.uye.uyeSoyadi)
        </dd>
        <dt class="col-sm-2">
            Güzellik Merkezi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.guzellikMerkezi.merkezAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.randevuDegerlendirmesi)
        </dt>
        @if (DateTime.Now.Date < Model.randevuSaati)
        {
            <dd class="col-sm-10">
                Gerçekleşmedi
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.randevuDegerlendirmesi)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.randevuPuani)
        </dt>
        @if (DateTime.Now.Date < Model.randevuSaati)
        {
            <dd class="col-sm-10">
                Gerçekleşmedi
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.randevuPuani)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.randevuSaati)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.randevuSaati)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.randevuTuru)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.randevuTuru)
        </dd>
    </dl>
    
    <form asp-action="RandevuDelete">
        <input type="hidden" asp-for="uyeId" />
        <input type="hidden" asp-for="merkezId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="RandevuIndex">Randevu Listesine Geri Dön</a>
    </form>
</div>
