@model GuzelRandevu.Models.Randevu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Randevu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uye.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.guzellikMerkezi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.guzellikMerkezi.merkezId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.randevuDegerlendirmesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.randevuDegerlendirmesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.randevuPuani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.randevuPuani)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.randevuSaati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.randevuSaati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.randevuTuru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.randevuTuru)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
