@model IEnumerable<GuzelRandevu.Models.Randevu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.randevuGunu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.randevuSaati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.randevuPuani)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.randevuGunu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.randevuSaati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.randevuPuani)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
