@model GuzelRandevu.Models.GuzellikMerkezi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GuzellikMerkezi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <img src="@Html.DisplayFor(model => model.merkezResimUrl)" />
        </dt>
        <dd class="col-sm-10">
            
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.merkezAdi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.merkezAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.merkezEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.merkezEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.merkezAdres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.merkezAdres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.merkezTelNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.merkezTelNo)
        </dd>

    </dl>
</div>
<div>
    <a asp-controller="Randevu" asp-action="Create" asp-route-id="@Model.merkezId" asp-route-name="@Model.merkezAdi">Randevu Oluştur</a>
</div>
