@model IEnumerable<GuzelRandevu.Models.GuzellikMerkezi>

@{
    ViewData["Title"] = "Index";
}

<h1>Güzellik Merkezleri</h1><br />
@if (User.IsInRole("Admin")) { 
    <p>
        <a asp-action="Create">Yeni Oluştur</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.merkezAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.merkezEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.merkezAdres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.merkezTelNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.merkezResimUrl)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.merkezAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.merkezEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.merkezAdres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.merkezTelNo)
            </td>

            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.merkezId">Düzenle |</a>
                }
                <a asp-action="Details" asp-route-id="@item.merkezId">Randevu Al</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.merkezId">| Sil</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
